@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page for the movie applicaiton.</p>

    <div>
        <p>incase your forget</p>
        <p>Email: subodhbarakoti17@gmail.com</p>
        <p>Password: Password@17</p>
    </div>
    

</div>
